<div id="bakery">
  <button class="make" data-good-type="cupcake">Make Cupcake</button>
  <button class="make" data-good-type="cookie">Make Cookie</button>
  <h4>Available Ingredients:</h4>
  <ul class="ingredients">
    <li class="flour">Flour: <span></span></li>
    <li class="eggs">Eggs: <span></span></li>
    <li class="sugar">Sugar: <span></span></li>
    <li class="spice">Spice: <span></span></li>
  </ul>

  <h3>Food Display Case</h3>
  <div class="display"></div>
</div>