<script src="/js/vendor/jquery-2.1.1.min.js"></script>
<div id="container">
</div>
<script src="/js/playground.js"></script>
<script>
  /**
    CLOSURE ASSIGNMENT!

    LEVEL 1: In playground.js, fix the iterative loop so that when you receive calls back from the server, the correct
      value for i is returned.
    
    LEVEL 2: Wrap playground.js in the revealing module pattern. Put your working AJAX call into a private function,
      and then return an object from the module which has a property that references your new private function.

    LEVEL 3: Upon retrieving all of the callbacks to the server, sort them and display the entire string in
      the div #container.
  */
</script>