<form action="/signup" method="POST">
  Username: <input type="text" name="username">
  Pass: <input type="password" name="pass">
  Pass: <input type="password" name="pass_conf">
  <input type="submit" value="Sign Up">
</form>