<h2>Quizzy Quiz</h2>

<div class="quiz-app">
</div>

<!-- Entry point -->
<script type="text/javascript">
  var $quizView = $('.quiz-app');
  var Application = {
    presenter: new Quizzy.QuizPresenter($quizView)
  };
</script>

</body>